.footer {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    height: 5vh;
    max-width: 420px;
    bottom: 0;
    background-color: black;
    z-index: 2;
}